
@import "../../styles/mixins.scss";

.about {
  padding: 0;
  background-color: var(--color-dark);
  min-height: 100vh;
}

.gallerySection {
  padding: 6rem 0 4rem;
  background: var(--color-dark-alt, #0b0b0b);
}

