.sectionWrapper {
  position: relative;
  padding: 3rem;
  background-color: var(--color-background);
}

.title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 4rem;
}

.heroImage {
  .cardWrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;      
    align-items: stretch;  

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    > * {
      height: 100%;           
      display: flex;
      flex-direction: column; 
    }
  }
}

.featuresGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  > * {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.aboutSection {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  @include flex-center;

  @media (max-width: 1024px) {
    padding: 3.5rem 2rem;
  }

  @media (max-width: 768px) {
    padding: 3rem 1.5rem;
  }
}

.CTAWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
