
.priceTag {
  @include m.flex-center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-white);
  font-family: var(--font-heading);
  letter-spacing: 1px;
  
  &.small {
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }
  
  &.medium {
    width: 120px;
    height: 120px;
    font-size: 1.3rem;
  }
  
  &.large {
    width: 200px;
    height: 200px;
    font-size: 2.5rem;
  }
  
  @include m.mobile {
    &.medium {
      width: 100px;
      height: 100px;
      font-size: 1.1rem;
    }
    
    &.large {
      width: 120px;
      height: 120px;
      font-size: 1.3rem;
    }
  }
}

.currency {
  margin-right: 0.2rem;
}

.amount {
  font-weight: 400;
}
