.button {
  @include m.button-base;
  
  &.primary {
    @include m.button-primary;
  }
  
  &.secondary {
    @include m.button-secondary;
  }
  
  &.outline {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-dark);
      font-weight: 700;
    }
  }
  
  &.small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  &.large {
    padding: 1.2rem 2.5rem;
    font-size: 1.1rem;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
