@import '../../../styles/mixins.scss';

.counterTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.number {
  font-size: 3rem;                  
  color: var(--color-primary);
  font-weight: 400;
  font-family: var(--font-body);
}

.pill {
  font-size: 1rem;
  color: var(--color-white);
  font-weight: 400;
  background-color: rgb(37, 37, 37);
  padding: 0.4rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.text {
  font-size: 0.875rem;
  color: var(--color-white);
  text-align: center;
  max-width: 240px;                 
  line-height: 1.4;
  margin-top: 0.5rem;
}

// **Mobile adjustments**
@media (max-width: 768px) {
  .counterTag {
    gap: 0.5rem;            
  }

  .number {
    font-size: 2.2rem;      
  }

  .pill {
    font-size: 0.875rem;    
    padding: 0.3rem 0.8rem; 
    margin-bottom: 0.4rem;
  }

  .text {
    font-size: 0.65rem;     
    max-width: 180px;       
    line-height: 1.3;
    margin-top: 0.4rem;
  }
}
